<ion-content>
  <app-post></app-post>

  <div class="comments-container">
    <ion-list class="comments-list" lines="none" *ngIf="comments.length > 0">
      <ion-item *ngFor="let comment of comments">
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <img class="profile-picture" src="{{comment.user_image}}"/>
            </ion-col>
            <ion-col size="10">
              <p class="user-name">{{comment.user_name}}</p>
              <span class="comment">{{comment.text}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>

  <p class="center" (click)="getComments()" *ngIf="comments.length != 0 && comments.length != post.comments">{{'common.more' | translate}}</p>

  <div class="comment-container">
    <ion-input class="input" placeholder="Type your comment" [(ngModel)]="text"></ion-input>
    <ion-icon class="input-icon" name="camera-outline" (click)="upload()"></ion-icon>
    <ion-icon class="input-icon icon2" name="send-outline" (click)="send()"></ion-icon>
  </div>

</ion-content>

