.title{
    margin: 1em;
}

ion-list{
    padding: 1em;
}

ion-button{
    --background: linear-gradient(
    to right,
    var(--ion-color-primary) 0%,
    var(--ion-color-secondary) 100%
  );
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 2em;
}