.logo{
    width: 50%;
    margin: auto;
    display: block;
    padding: 1em;
}

ion-content , ion-list , ion-item
{
    --background: linear-gradient( to right, var(--ion-color-primary) 0%, var(--ion-color-secondary) 100% );
}

ion-list {
    padding: 0px;
    margin: 1em;
}

ion-item{
    color: white;
}

.logout{
    position: absolute;
    background-color: white;
    padding-bottom: 4em;
    bottom: -3em;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 8em;
    border-radius: 50%;
    p{
        color: #d85abf;
        margin: auto;
        text-align: center;
        padding-top: 2em;
    }
}

ion-content{
    --overflow: hidden;
}