<ion-menu side="start" menuId="first" contentId="main">
  <div>
    <img src="../../../assets/imgs/logo_sidemenu.png" class="logo"/>
  </div>
  <ion-content>
    <ion-list lines="none">
      <ion-menu-toggle>
        <ion-item (click)="navigate('/tabs/home')"> {{'common.home' | translate}}</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click)="navigate('/profile')"> {{'common.profile' | translate}}</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click)="navigate('/tabs/groups')"> {{'common.groups' | translate}}</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click)="navigate('/tabs/events')"> {{'common.events' | translate}}</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click)="navigate('/tabs/blogs')"> {{'common.blogs' | translate}}</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click)="navigate('/contests')"> {{'common.contests' | translate}}</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click)="navigate('/packages')"> {{'common.packages' | translate}}</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click)="navigate('/settings')"> {{'common.settings' | translate}}</ion-item>
      </ion-menu-toggle>
    </ion-list>
    <div class="logout" (click)="logout()">
      <p>{{'common.logout' | translate}}</p>
    </div>
  </ion-content>
</ion-menu>