<ion-content>
  <h1 class="title">{{"create_post.title" | translate}}</h1>

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <img class="profile-picture center" src="https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" />
      </ion-col>
      <ion-col size="6">
          <p class="user-name center">Tommy Jackson</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides class="images" [options]="slideOpts">
    <ion-slide>
      <div class="upload" [ngStyle]="{'width': images.length == 0 ?  '90%' : '100%'}">
        <ion-icon class="icon" name="add-circle-outline"></ion-icon>
      </div>
    </ion-slide>
    <ion-slide *ngFor="let image of images">
      <img class="image" src="{{image.url}}" />
    </ion-slide>
  </ion-slides>

  <ion-textarea rows="10" placeholder="{{'create_post.type_post' | translate}}"></ion-textarea>

  <ion-button>{{"common.create" | translate}}</ion-button>
</ion-content>
