ion-content{
  --padding-top: 2em;
  --padding-start: 0.5em;
  --padding-end: 0.5em;
}

.container-fixed{
  padding: 0.5em;
  background-color: white;
}

.menu{
  width: 35%;
  float: right;
}

.search{
  --border-radius: 5px;
  margin-top: 1em;
}

.advanced{
  position: absolute;
  width: 1em;
  z-index: 999;
  right: 1em;
}

.see-all{
  text-align: right;
}