ion-content{
  --padding-top: 2em;
  --padding-start: 0.5em;
  --padding-end: 0.5em;
  --background: linear-gradient( to bottom, #fff 0%, #edf0f6 100% );
}

.container-fixed{
  padding: 0.5em;
  background-color: white;
  z-index: 99999;
  width: 100%;
}

.menu{
  width: 35%;
  float: right;
}

.search{
  --border-radius: 5px;
  margin-top: 1em;
}

.advanced{
  position: absolute;
  width: 1em;
  z-index: 999;
  right: 1em;
}

.see-all{
  text-align: right;
  background: linear-gradient( to right, var(--ion-color-primary) 50%, var(--ion-color-secondary) 100% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blogs{
  padding-bottom: 1em;
}

.posts{
  background-color: transparent;
}

.post{
  --background: transparent;
}