ion-content{
    --background: linear-gradient( to bottom, #fff 0%, #edf0f6 100% );
}

.title{
    margin: 1em;
    width: 5em;
}

ion-list{
    background: transparent;
    ion-item{
        --background: transparent;
    }
}