<ion-content [ngStyle]="{'direction': translate.currentLang == 'ar' ? 'rtl' : 'ltr'}">
  <h1 class="title">{{"common.create" | translate}}</h1>

  <ion-grid class="container">
    <ion-row>
      <ion-col class="option" size="3" offset="3" [ngStyle]="{'margin-right': translate.currentLang == 'ar' ? '3em' : '0em'}"  (click)="create(0)">
        <i class="material-icons">edit</i>
        <p>{{'common.post' | translate}}</p>
      </ion-col>
      <ion-col class="option" size="3" (click)="create(1)">
        <i class="material-icons">group</i>
        <p>{{'common.group' | translate}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="option" size="3" offset="3" [ngStyle]="{'margin-right': translate.currentLang == 'ar' ? '3em' : '0em'}" (click)="create(2)">
        <i class="material-icons">article</i>
        <p>{{'common.blog' | translate}}</p>
      </ion-col>
      <ion-col class="option" size="3" (click)="create(3)">
        <i class="material-icons">today</i>
        <p>{{'common.event' | translate}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
