<ion-card class="post" *ngIf="post">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <img class="post-profile-picture" src="{{post.image}}" />
      </ion-col>
      <ion-col size="4">
        <p class="post-user-name">{{post.name}}</p>
        <span class="post-time">5 min</span>
      </ion-col>
      <ion-col size="2" offset="4">
        <i class="material-icons">more_horiz</i>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p class="post-text" (click)="openPost()">{{post.body}}</p>
  <ion-card-header *ngIf="post.images.length > 0" (click)="openPost()">
    <ion-slides *ngFor="let image of post.images">
      <ion-slide>
        <img class="post-image"  src="{{image.path}}" />
      </ion-slide>
    </ion-slides>
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <i class="material-icons" *ngIf="!post.isliked" (click)="toggleLike()">favorite_border</i>
        <i class="material-icons liked" *ngIf="post.isliked" (click)="toggleLike()">favorite</i>
        <span class="post-numbers">{{post.likes}}</span>
      </ion-col>
      <ion-col size="3" offset="1">
        <i class="material-icons" (click)="openPost()">chat_bubble_outline</i>
        <span class="post-numbers" (click)="openPost()">{{post.comments}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>